/* This stylesheet is a slightly modified version of JBoss's community documentation stylesheet with the same name */

/* Document Navigation */

.docnav a, .docnav strong {
  text-decoration: none;
  font-weight: normal;
}

.docnav {
  list-style: none;
  margin: 0;
  padding: 1em 0 2em;
  position: relative;
  width: 100%;
  border-top: 1px dotted #ccc;
}

.docnav li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
  font-size: .8em;
}

.docnav li:before {
  content: " ";
}

.docnav li.previous, .docnav li.next {
  position: absolute;
  top: 1em;
}

.docnav li.up, .docnav li.home {
  margin: 0 1.5em;
}

.docnav li.previous {
  left: 0;
  text-align: left;
}

.docnav li.next {
  right: 0;
  text-align: right;
}

.docnav li.previous strong, .docnav li.next strong {
  display: block;
  height: 22px;
}

.docnav {
  margin: 0 auto;
  text-align: center;
}

.docnav li.next a strong {
  background: url(../images/community/docbook/next.png) top right no-repeat;
  padding-top: 10px;
  padding-bottom: 15px;
  height: 40px;
  padding-right: 60px;
  font-size: 1.2em;
  text-decoration: none;
}

.docnav li.previous a strong {
  background: url(../images/community/docbook/prev.png) top left no-repeat;
  padding-top: 10px;
  padding-bottom: 15px;
  height: 40px;
  padding-left: 60px;
  font-size: 1.2em;
  text-decoration: none;
}

.docnav li.home a strong {
  background: url(../images/community/docbook/home.png) top left no-repeat;
  padding-top: 10px;
  padding-bottom: 15px;
  height: 40px;
  padding-left: 60px;
  font-size: 1.2em;
  text-decoration: none;
}

.docnav li.up a strong {
  background: url(../images/community/docbook/up.png) top left no-repeat;
  padding-top: 10px;
  padding-bottom: 15px;
  height: 40px;
  padding-left: 60px;
  font-size: 1.2em;
  text-decoration: none;
}

.docnav a:link, .docnav a:visited {
  color: #666 !important;
  text-decoration: none;
}

.docnav a:hover, .docnav a:focus, .docnav a:active {
  color: black !important;
  text-decoration: none;
}

.docnav a {
  max-width: 10em;
  overflow: hidden;
  text-decoration: none;
}

.docnav a:link strong {
  text-decoration: none;
}

.docnav {
  margin: 0 auto;
  text-align: center;
}

.docnav {
  margin-bottom: 16px;
}

/* Eclipse Help Navigation */

.navheader {
  padding-top: 35px
}

.navheader table {
  border-style: none
}

.navheader a {
  text-decoration: none;
  font-weight: normal;
  font-size: .8em;
  text-decoration: none;
}

.navheader td.next a {
  background: url(../images/community/docbook/next.png) top right no-repeat;
  padding-top: 10px;
  padding-bottom: 15px;
  height: 40px;
  padding-right: 60px;
  font-size: 0.9em;
  text-decoration: none;
}

.navheader td.previous a {
  background: url(../images/community/docbook/prev.png) top left no-repeat;
  padding-top: 10px;
  padding-bottom: 15px;
  height: 40px;
  padding-left: 60px;
  font-size: 0.9em;
  text-decoration: none;
}

.navheader a:link, .navheader a:visited {
  color: #666 !important;
  text-decoration: none;
}

.navheader a:hover, .navheader a:focus, .navheader a:active {
  color: black !important;
  text-decoration: none;
}

.navheader a {
  max-width: 10em;
  overflow: hidden;
  text-decoration: none;
}

.navheader a:link {
  text-decoration: none;
}

.navfooter table {
  border-style: none
}

.navfooter a {
  text-decoration: none;
  font-weight: normal;
  font-size: .8em;
  text-decoration: none;
}

.navfooter td.next a {
  background: url(../images/community/docbook/next.png) top right no-repeat;
  padding-top: 10px;
  padding-bottom: 15px;
  height: 40px;
  padding-right: 60px;
  font-size: 0.9em;
  text-decoration: none;
}

.navfooter td.previous a {
  background: url(../images/community/docbook/prev.png) top left no-repeat;
  padding-top: 10px;
  padding-bottom: 15px;
  height: 40px;
  padding-left: 60px;
  font-size: 0.9em;
  text-decoration: none;
}

.navfooter td.home a {
  background: url(../images/community/docbook/home.png) top left no-repeat;
  padding-top: 10px;
  padding-bottom: 15px;
  height: 40px;
  padding-left: 60px;
  font-size: 0.9em;
  text-decoration: none;
}

.navfooter td.up a {
  background: url(../images/community/docbook/up.png) top left no-repeat;
  padding-top: 10px;
  padding-bottom: 15px;
  height: 40px;
  padding-left: 60px;
  font-size: 0.9em;
  text-decoration: none;
}

.navfooter a:link, .navfooter a:visited {
  color: #666 !important;
  text-decoration: none;
}

.navfooter a:hover, .navfooter a:focus, .navfooter a:active {
  color: black !important;
  text-decoration: none;
}

.navfooter a {
  max-width: 10em;
  overflow: hidden;
}

.navfooter a:link {
  text-decoration: none;
}
